<img class="img-fluid bg-primary shodow-sm"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png"
    alt="">


<mat-nav-list dense class="mt-2">
    <a mat-list-item [routerLink]="['/stock']" routerLinkActive="is_active" (click)="onClickNavClose()">
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">
    </a>
    <a mat-list-item [routerLink]="['/shop']" routerLinkActive="is_active" (click)="onClickNavClose()">
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/599/599299.svg" alt="">
    </a>

    <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>DashBoard</h3>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Summary</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/386/386895.svg" alt="">
    </a>
    <a mat-list-item href="http://www.google.com">
        <span mat-line><span class="mat-h4">Customer</span></span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/505/505430.svg" alt="">
    </a>
</mat-nav-list>