<div class="row">
    <div class="col-md-6">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>
            <canvas id="lineChart"></canvas>
        </mat-expansion-panel>
    </div>
    <div class="col-md-6">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>
            <canvas id="barChart"></canvas>
        </mat-expansion-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>
            <canvas id="canvasRadar"></canvas>
        </mat-expansion-panel>
    </div>
    <div class="col-md-6">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Type your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>
            <canvas id="canvasDoughnut"></canvas>
        </mat-expansion-panel>
    </div>
</div>

